.product-input {
    padding: 7px 0;
}

.product-status {
    display: flex;
    gap: 1rem;
    padding: 7px 0;
}

.importDetailsBody td {
    padding: 10px !important;
    width: 10px;
    text-align: center;
 }

 .importDetailsHead th {
    text-align: center !important;
 }