
$font-family-base: 'Be Vietnam Pro', sans-serif;

$font-size-small: 12px;
$font-size-base: 14px;
$font-size-medium: 16px;
$font-size-large: 18px;

$flashWhite: #F0F0F0;
$white: #fff;
$black: #000;
$brightGray: #EBF2F2;
$munsellBlue: #0093AF;
$cobaltBlue: #00439C;